body {
    background-color: #96ccff !important;
    background-image: url("background.png");
    background-size: 100px;
    margin: 0px;
    overflow: hidden;
}
button {
    border-radius: 15px !important;
    border: 3px solid transparent;
    background-color: #363636;
    color: #fff;
    padding: 7px 25px 7px 25px;
    transition: 180ms;
}
button:hover {
    border-color: #fff;
}
button:active {
    transform: scale(70%);
}
.filled-div {
    background-color: #3ca367;
    color: #fff;
    padding: 7px;
}
#map svg {
    filter: drop-shadow(1.5px 1.5px 0px #daedfe)
        drop-shadow(-1.5px -1.5px 0px #daedfe)
        drop-shadow(-1.5px 1.5px 0px #daedfe)
        drop-shadow(1.5px -1.5px 0px #daedfe);
    width: 100%;
}
#country {
    position: fixed;
    top: 0px;
    width: 100vw;
    border-bottom: 5px solid #fff;
}
#player {
    position: fixed;
    bottom: 0px;
    height: 120px;
    width: 100vw;
    border-top: 5px solid #fff;
}
path {
    transition: 180ms;
    stroke: #10072b;
}
path:hover {
    cursor: pointer;
    fill: #ff7c7c !important;
}