@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
    background-color: #96ccff !important;
    background-image: url("background.png");
    background-size: 100px;
    margin: 0px;
    overflow: hidden;
    font-family: "Exo 2" !important;
}
button {
    border-radius: 15px !important;
    border: 3px solid transparent;
    background-color: #363636;
    color: #fff;
    padding: 7px 25px 7px 25px;
    transition: 180ms;
    outline: none;
}
button:hover {
    border-color: #fff;
}
button:active {
    transform: scale(80%);
}

b {
    font-weight: bold;
}
a {
    color: #5ed1c2 !important;
    transition: 180ms;
}
a:hover {
    color: #3ca367;
    background: #fff;
}
input[type=range] {
    background: #444;
    margin-right: 25px;
    height: 7px;
    border-radius: 100px;
    appearance: none;
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #fff;
    transition: 180ms;
}
input[type=range]::-moz-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #fff;
    transition: 180ms;
}

input[type=range]::-webkit-slider-thumb:hover {
    cursor: grab;
    transform: scale(130%);
}
input[type=range]::-moz-slider-thumb:hover {
    cursor: grab;
    transform: scale(130%);
}
input[type=range]::-webkit-slider-thumb:active {
    cursor: grabbing;
    transform: scale(90%);
}
input[type=range]::-moz-slider-thumb:active {
    cursor: grabbing;
    transform: scale(90%);
}

@keyframes flash {
    to { visibility: hidden; }
}
.flashing {
    animation: flash 1s steps(2, start) infinite;
}
.invisible {
    display: none;
}
.fancy-bold {
    font-family: "Bitter" !important;
    font-weight: 700;
}
.popup {
    border-radius: 15px;
    border: 5px solid #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    padding: 50px 130px 50px 130px !important;
}
.muted {
    color: #f00;
}
.tag {
    background: #000;
    color: #fff;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
}
.filled-div, .popup {
    background-color: #3ca367;
    background: linear-gradient(90deg, #3ca367, #3c99a3);
    color: #fff;
    padding: 10px 40px 10px 40px;
}
#popup-container {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
#map {
    cursor: grab;
}
#map:active {
    cursor: grabbing;
}
#map svg {
    filter: drop-shadow(1.5px 1.5px 0px #daedfe)
        drop-shadow(-1.5px -1.5px 0px #daedfe)
        drop-shadow(-1.5px 1.5px 0px #daedfe)
        drop-shadow(1.5px -1.5px 0px #daedfe);
    width: 100%;
}
#top {
    position: fixed;
    top: 0px;
    width: 100vw;
    border-bottom: 5px solid #fff;
}
#player {
    position: fixed;
    bottom: 0px;
    height: 170px;
    width: 100vw;
    border-top: 5px solid #fff;
}
#volume {
    display: inline-block;
    width: 30px;
}
.icon {
    height: 85px;
    border: 5px solid #fff;
    background-color: #4ac97f;
    border-radius: 7px;
}
path {
    transition: 180ms;
    stroke: #10072b;
}
path:hover {
    cursor: pointer;
    fill: #ff7c7c !important;
}